/*  Our CSS */
html, body {
	height: 100%;
	min-height: 100%;
}

/* Activity colors */
.presentationColor{
	background-color: #8AA3FF;
}
.groupWorkColor{
	background-color: #FF9B5E;
}

.discussionColor{
	background-color: #84FF9C;
}

.breakColor{
	background-color: #FFEF2D;
}


/* single activity */
.Presentation{
	background-color: #8AA3FF;
	border: 1px solid;
	border-color: #6C89C7;
}
.Presentation:hover{
	background-color: #6C89C7;
	border: 1px solid;
	border-color: #6C89C7;
}
.GroupWork{
	background-color: #FF9B5E;
	border: 1px solid;
	border-color: #D4814E;
}
.GroupWork:hover{
	background-color: #D4814E;
	border: 1px solid;
	border-color: #D4814E;
}
.Discussion{
	background-color: #84FF9C;
	border: 1px solid;
	border-color: #60BA7C;
}
.Discussion:hover{
	background-color: #60BA7C;
	border: 1px solid;
	border-color: #60BA7C;
}
.Break{
	background-color: #FFEF2D;
	border: 1px solid;
	border-color: #ADA21F;
}
.Break:hover{
	background-color: #ADA21F;
	border: 1px solid;
	border-color: #ADA21F;
}
.panel-info {
	cursor: move;
}

.full-height {
	height: 100%;
	min-height: 100%;
}

/*day view*/
.border{
	border: 1px solid;
	border-color: #999999;
	min-height: 40em;
}

#chart{
	height: 1em;
}


#chartDiv{
	height: inherit;
	float:left;

}
