/*  Our CSS */
html, body {
	height: 100%;
	min-height: 100%;
}

/*Header*/
.my-header{
	background-color: #bbb;
	padding-top: 1px;
	font-family: 'Cabin Sketch', cursive;
	margin-top: 0;
}

h1{
	font-size: 45px;
	margin-left: 20px;
}
.mySmall{
	color: #FFF;
}

.ourBtn{
	color: #333;
	background-color: #80E8FA;
	font-weight: 400;
	padding: 6px 12px;
}

.round-button {
    width:50px;
    height:50px;
    border-radius: 50%;
    color:#bbb;
    background: #ebebeb;
    margin: 5px;
}
.round-button:hover {
    background: #ccc;
    color: #fff;
}
.round-button:focus {
    background: #ccc;
    color: #fff;
}

.ourBtn:hover{
	background-color: #7DE3F5;
}


/* Activity colors */
.presentationColor{
	background-color: #B49CE8;
}
.groupWorkColor{
	background-color: #FFFF70;
}

.discussionColor{
	background-color: #FF8D65;
}

.breakColor{
	background-color: #7AFFCD;
}


/* single activity */
.activity{
	cursor: move;
	border: 1px solid;
}
.Presentation{
	background-color: #B49CE8;
	border-color: #AA93DB;
}
.Presentation:hover{
	background-color: #AA93DB;
	border-color: #AA93DB;
}
.GroupWork{
	background-color: #FFFF70;
	border-color: #F5F46C;
}
.GroupWork:hover{
	background-color: #F5F46C;
	border-color: #F5F46C;
}
.Discussion{
	background-color: #FF8D65;
	border-color: #F28660;
}
.Discussion:hover{
	background-color: #F28660;
	border-color: #F28660;
}
.Break{
	background-color: #7AFFCD;
	border-color: #71EDBF;
}
.Break:hover{
	background-color: #71EDBF;
	border-color: #71EDBF;
}
/*.panel-info {
	cursor: move;
}*/
.list-unstyled {
	min-height: 2em;
}

.full-height {
	height: 100%;
	min-height: 10em;
}

.affix {
	top: 10px;
	float: left;
}
/*day view*/
.border{
	border: 1px dashed;
	border-color: #999999;
	min-height: 30em;
	/*margin-right: 10px;*/
	margin-bottom: 10px;
	padding: 10px;
}

.outline {
	outline: 1px dashed;
	outline-color: #999999;
	outline-offset: inherit;
}

#addDayButton{
	text-align: center;
}

#chart{
	height: 2em;
	position: relative;
}


.chartDiv{
	height: inherit;
	float:left;

}

hr{
	border: 1px dashed;
	border-color: #999999;
}

#breakControll{
	min-height: 2.4em;
}

.minBreak{
	/*
	border-right: 1px solid rgb(250,0,0);
	height: 4em;
	width: 30%;
	position: absolute;
	z-index: 10;
	margin-top: -1em;
	*/

	border-right: 3px solid rgb(100, 100, 100);
	height: 2em;
	width: 30%;
	position: absolute;
	z-index: 10;

}

#breakP{
	font-size: 12px;
	font-style: italic;
	color: red;
}

.noPadding{
	padding:0;
}

.customPadding{
	padding:0 10px;
}

.addActivity{
	padding-bottom:10px;
	text-align: center;
}
.startTime{
	font-weight: normal;
}
